#contact-title,
#contact-para {
    margin: 10px auto;
}
.contact-container {
    padding: 2rem;
    margin: auto;
    width: 720px;
}
.form {
    position: relative;
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem auto;
}
input {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
}
input:focus {
    outline: 1px solid #000;
}
#first_name,
#last_name {
    width: 348px;
    padding: 10px 14px;
}
label {
    font-family: var(--default-font);
    color: #344054;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
#email,
textarea {
    width: 720px;
    padding: 10px 14px;
}
.flex {
    display: flex;
    justify-content: space-between;
}